@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" type="text/css" href="~/Content/themes/default/ticker.css" />

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.jstockticker-1.1.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ticker").jStockTicker({ interval: 45 });
        });
    </script>
}

@section featured {
    <div class="jumbotron logout-only">
        <div class="container">
            <h1>Welcome to MyStockBook!</h1>
            <h2>@ViewBag.Message</h2>
            <p>
                To get started buying, selling, and networking, click the "Log In with Facebook" button.
            </p>
        </div>
    </div>
}
<div id="ticker" class="stockTicker">
    <span id="quote" class="quote"> </span>
</div>

<div class="row">
    <div class="col-md-2">
        <h3>Top 5 Stocks</h3>
        <p>The ability to purchase, sell and select your Top 5 Stocks will be part of the Stock Portfolio feature, which will be part of Release 2.</p>
    </div>
    <div class="col-md-8">
        <!-- Facebook Content -->
        <h3>Facebook Newsfeed</h3>
        <div class="newsfeedButtonSet" style="float:right;">
            <div id="addPhoto" style="float:left;">
                <button onclick="addPhoto()"> Add Photo</button>
            </div>
            <div id="friendAdd" style="float:left;">
                <button onclick="addFriend()">Send Friend Request</button>
            </div>
            <div id="sendMessage" style="float:left;">
                <button onclick="sendMessage()"> Send Message</button>
            </div>

        </div>
        <div id="statusUpdate">
            Status:
            <input type="text" id="status_update" name="status" placeholder="What's on your mind?" style="width:25%;" />
            <button onclick="updateStatus()">Post</button>
            <div id="statusAlert" class="noStatusAlert"></div>
        </div>

        <div id="newsFeed">
            <div id="newsFeedResponse"></div>
        </div>

    </div>
    <div class="col-md-2">
        <div class="row">
            <h3>Events</h3>
            <p>This feature is slated for Release 2.</p>
        </div>
        <div class="row">
            <h3>Chat</h3>
            <p>This feature is slated for Release 2.</p>
        </div>
    </div>

</div>

<div>
    <label>Search:</label>
    <input type="text" id="symbolsearch" class="input" placeholder="Enter Company Name">
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script type="text/javascript">
    $("#symbolsearch")
        .autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "http://dev.markitondemand.com/api/v2/Lookup/jsonp",
                    dataType: "jsonp",
                    data: {
                        input: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name + " (" + item.Exchange + ")",
                                value: item.Symbol
                            }
                        }));
                    }
                });
            },
            minLength: 0,
            select: function (event, ui) {
                //console.log(ui.item);
            },
            open: function () {
                //$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                //$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        })
    ;
</script>


