@{
    ViewBag.Title = "Home";
}

@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
            </p>
            <a class="btn btn-large btn-success" href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
        </div>
    </div>
}
<!-- Status Update Area -->
<div id="statusUpdate">
    Status:
    <input type="text" id="status_update" name="status" placeholder="What's on your mind?" />
    <button onclick="updateStatus()">Post Status</button>
    <div id="statusAlert" class="noStatusAlert" />
</div>
<div id="friendAdd">
    Add Friend:
    <input type="text" id="friend_id" placeholder="Facebook ID/Username" />
    <button onclick="addFriend()">Send Request</button>
    <div id="friendResponse" />
</div>
<div id="newsFeed">
    News Feed:
    <div id="newsFeedResponse" />
</div>
<script>
    function addFriend() {
        var id = document.getElementById("friend_id").value;
        document.getElementById("friendResponse").innerHTML = "";
        FB.ui({
            method: 'friends',
            id: id
        }, function (response) {
            if (!response || response.error) {
                document.getElementById("friendResponse").innerHTML = "request not sent";
            } else {
            }
        });
    }

    function updateStatus() {
        var body = document.getElementById("status_update").value;
        statusAlertClear();
        FB.api('/me/feed', 'post', { message: body }, function (response) {
            if (!response || response.error) {
                statusAlertFail();
            } else {
                statusAlertSuccess();
            }
        });
    }

    function news() {
        FB.api("/me/home", function (response) {
            if (response && !response.error) {
                for (var i = 0; i < 15; i++) {
                    if (response.data[i].from.name) {
                        document.getElementById("newsFeedResponse").innerHTML += "<b>"+response.data[i].from.name + "</b><br>";
                    }
                    if (response.data[i].message) {
                        document.getElementById("newsFeedResponse").innerHTML += response.data[i].message+ "<br>";
                    }
                    if (response.data[i].name){
                        document.getElementById("newsFeedResponse").innerHTML += "<i>"+response.data[i].name+"</i><br>";
                    }
                    if (response.data[i].story) {
                        document.getElementById("newsFeedResponse").innerHTML += "<i>" + response.data[i].story + "</i><br>";
                    }
                   
                    document.getElementById("newsFeedResponse").innerHTML += "<br>";
                }
                
            }
        });
    }

    function statusAlertSuccess() {
        document.getElementById("statusAlert").class = "successStatusAlert";
        document.getElementById("statusAlert").innerHTML = "status sent";
    }

    function statusAlertFail() {
        document.getElementById("statusAlert").class = "failStatusAlert";
        document.getElementById("statusAlert").innerHTML = "status could not be sent!";
    }

    function statusAlertClear() {
        document.getElementById("statusAlert").class = "noStatusAlert";
        document.getElementById("statusAlert").innerHTML = "";
    }

</script>