@{
    ViewBag.Title = "Home";
}

@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
            </p>
            <a class="btn btn-large btn-success" href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
        </div>
    </div>
}
<!-- Status Update Area -->
<div id="statusUpdate">
    Status:
    <input type="text" id="status_update" name="status" placeholder="What's on your mind?" />
    <button onclick="updateStatus()">Post Status</button>
    <div id="statusAlert" class="noStatusAlert" />
</div>
<div id="friendAdd">
    <button onclick="addFriend()">Send Friend Request</button><div id="sendMessage">
    <p>Send a message to a friend</p>
    Recipient <input type="text" id="recipient" placeholder="Facebook ID/Username" />
    <button onclick="sendMessage()"> Send Message</button>
</div>

<div id="newsFeed">
    News Feed:
    <div id="newsFeedResponse" />
</div>
<script>
    function sendMessage() {
        var friendName = document.getElementById("recipient").value;
        FB.ui({
            method: 'send',
            to: friendName,
            message: 'something',
            link: 'https://www.google.com',
        });
    }

    function addFriend() {
        var id = prompt("Enter FaceBook ID/UserName", "");

        if (id != null && id !== "") {
        FB.ui({
            method: 'friends',
            id: id
            }, function (response) {});
            }
    }

    function updateStatus() {
        var body = document.getElementById("status_update").value;
        FB.api('/me/feed', 'post', { message: body }, function (response) {
            if (!response || response.error) {
                alert("message not sent!");
            } else {
                alert("message sent");
            }
        });
    }

    function news() {
        FB.api("/me/home", function (response) {
            if (response && !response.error) {
                for (var i = 0; i < 15; i++) {
                    if (response.data[i].from.name) {
                        document.getElementById("newsFeedResponse").innerHTML += "<b>"+response.data[i].from.name + "</b><br>";
                    }
                    if (response.data[i].message) {
                        document.getElementById("newsFeedResponse").innerHTML += response.data[i].message+ "<br>";
                    }
                    if (response.data[i].name){
                        document.getElementById("newsFeedResponse").innerHTML += "<i>"+response.data[i].name+"</i><br>";
                    }
                    if (response.data[i].story) {
                        document.getElementById("newsFeedResponse").innerHTML += "<i>" + response.data[i].story + "</i><br>";
                    }
                   
                    document.getElementById("newsFeedResponse").innerHTML += "<br>";
                }
                
            }
        });
    }

</script>