@{
    ViewBag.Title = "Stock Portfolio";
}

@section scripts {
    <link href="~/Content/themes/fullcalendar/fullcalendar.print.css" rel="stylesheet" />
    <link href="~/Content/themes/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>

    <style>
        #calendar {
            width: 900px;
            margin: 40px auto;
        }
    </style>
}

@section featured {

    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title - Coming Soon!</h1>

        </div>
    </div>

    <div id='calendar'></div>


<form>
    Event Name: <input type="text" id="event_name"><br>
    Description: <input type="text" id="event_description"><br>
    Location: <input type="text" id="event_location"><br>
    Start: <input type="text" id="event_start"><br>
    End: <input type="text" id="event_end">
    <button id="submit" onclick="submitEvent()">Submit</button>
</form>


    <script>
        function submitEvent() {
            postEvent();
        }
    </script>



    
}
