@{
    ViewBag.Title = "Stock Portfolio";
}

@section scripts {
    <link href="~/Content/themes/fullcalendar/fullcalendar.print.css" rel="stylesheet" />
    <link href="~/Content/themes/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>

    <style>
        #calendar {
            width: 900px;
            margin: 40px auto;
        }
    </style>
}



    <div id='calendar'></div>


<form style="margin: 0 33%; text-align: center;">
    <h2>Add Event</h2>
    <div><b>Event Name: </b><input type="text" id="event_name"></div>
    <div><b>Description: </b><input type="text" id="event_description"></div>
    <div><b>Location: </b><input type="text" id="event_location"></div>
    <div><b>Start: </b><input type="text" id="event_start"></div>
    <div><b>End: </b><input type="text" id="event_end"></div>
    <div><button id="submit" onclick="submitEvent()">Submit</button></div>
</form>


    <script>
        function submitEvent() {
            postEvent();
        }
    </script>
