@{
    ViewBag.Title = "Stock Portfolio";
}
@section featured {
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title - Coming Soon!</h1>
            <p>
                This feature is currently being developed, and will be part of Release 2 of MyStockBook.
            </p>
        </div>
    </div>
}
